@import "./main.scss";

$wrapper-background-color: var(--wrapper-background-color);
$inner-background-color: var(--inner-background-color);
$inner__container-background-color: var(--inner__container-background-color);
$main-text-color: var(--main-text-color);

$border-color: rgb(91, 91, 90);
