.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  position: relative;
  &__title {
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &__errorLogin {
    position: absolute;
    top: 114px;
    font-size: 14px;
    left: 5px;
    color: red;
  }
  &__errorPassword {
    position: absolute;
    top: 190px;
    font-size: 14px;
    left: 5px;
    color: red;
  }
}
