@import url(./_fonts.scss);

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Reddit Sans", sans-serif;
}

:root {
  --primary-color: #212121;
  --primary-color-dark: #181818;

  --secondary-color: #8774e1;

  --primary-text-color: #ffffff;
}

.light {
  --primary-color: #212121;
  --primary-color-dark: #181818;

  --primary-text-color: #ffffff;
}
