.auth {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(91, 91, 90);
  border-radius: 15px;
  font-size: 1rem;
  max-width: 360px;
  width: 100%;
  height: 55px;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.search {
  background-color: #181818;
  width: 100%;
  height: 50px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
}
.message {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
