.sidebar__item {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px 30px;
  border-bottom: 0.1px solid black;
  text-decoration: none;
  background-color: rgb(38, 38, 38);
  position: relative;
  top: 0;
  h5 {
    color: rgb(206, 206, 206);
    font-size: 14px;
  }
}
.sidebar__item:hover {
  border-radius: 2px;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}
