@mixin message {
  display: block;
  color: #fff;
  padding: 5px 10px;
  display: block;
  border-radius: 25px;
}

.chatbody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  z-index: 5;
}
.chatbody__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: start;
  gap: 7px;
  padding: 10px 50px;
}
.message__text {
  @include message();
}
.message__container_notme {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 8px;
  width: 100%;
  .message__text {
    background-color: rgb(38, 38, 38);
  }
}
.message__container_me {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 8px;
  .message__text {
    background-color: #8774e1;
  }
}
.message__inputContainer {
  background-color: #2b2b2b;
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.message__send {
  background-color: #8774e1;
  border-radius: 22px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
}
.message__send:hover {
  background-color: #7963dd;
}
