@import "./_variables.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: $wrapper-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  .inner {
    height: 100%;
    max-width: 1650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
      width: 100%;
			height: 100%;
      text-align: center;
    }
  }
}
